body {
	/*background-image: url("images/iphoneOL.jpg");*/
	font-family: Palatino, sans-serif;
	font-size:1.5vw;
	background-image: url("../images/colors3.jpg");
background-size: 100% auto;
}

#screen {
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-repeat: repeat-x repeat-y;
	z-index: 0;
	
}
.footer{
	width: 100%; 
	height: 1%;
	background-repeat: repeat-x repeat-y;	
	margin-top:1em;
	padding: 0;	
	z-index: -1;
}

/******************* top line of the page (logo + options) ************/
.head-top {
	margin-bottom: 1em;
	border-bottom: .05em solid rgba(136,136,136,0.50);
	width:100%;
	height:4vw;
	color:rgba(0, 100, 0,1);

}

.name {
	display:inline-block;
	font-size: 2em;
	font-family: Montserrat;
	text-align: left;
	width: 94%;
	letter-spacing: 0.1em;
	margin-left: .4em;

}

.menu-option{
	color: rgba(0, 100, 0,1);
	font-size:2.3em;
	margin:0;
	padding:0;
}

/*group-header
group-card*/

/************************** User part of the page**********/


#smaller-screen {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 97%;
	height: 90%;
	margin-top:-1em;
	
	background-repeat: repeat-x repeat-y;
		z-index: -2;

}


#head-bar {
	display: block;
	color: black;
	background-color: white;
	height: 17vw;
	width: 83vw;
	font-size: 1em;
	padding-top: .8em;
	padding-left: 1em;
	padding-bottom: .4em;
	margin-bottom: 3em; 
	padding-right: 4em;
	padding-right: 4em;
	margin-left: 2.5em;
	margin-right: 3em;

	font-family: Montserrat;
	border: 1px solid rgba(136,136,136,0.40);

	box-shadow: 0em 0em 1em 0em rgba(136,136,136,0.75);
	
	background-repeat: repeat-x repeat-y;
}




.avatar{
	float: left;
	padding:0;
	margin-right: 4em;
	padding-right: 2em;
	width: 9em;
	height: 9em;
	margin:0;
	display:inline-block;
}

.avatar img{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: .05em solid rgba(136,136,136,0.50);
}

.user-name{
	font-size:6em; 
}



.email-header{
	color:rgba(47,79,79,0.50);
}


.handle-header{
	margin-right:0;
	margin-left:27.3em;
	color:rgba(47,79,79,0.50);
}




#edit-profile{
	margin-top:4.3em;
	margin-left: 1em;
	margin-right: 0; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	color: rgba(0, 100, 0,.6); 
	vertical-align: middle;
	padding-left: 1em;
	font-size:1em;
	transition: .3s;
	width: 9vw;
}

#edit-profile:hover{
	text-shadow: .02em .02em  rgba(136,136,136,0.75); 
	color: rgba(0, 100, 0,1); 

}
.user-handle{
	margin-right: 0;
	margin-left:22em;	
}

.user-identifiers{
	font-family: Montserrat;
	font-size:.7em;
	padding-bottom: 0;
	margin-top: 0;
}



/********************** The two big buttons for create group + event ************************************/

.groupevent_button{
	height: 5vw;
	width: 100%;
	margin-bottom: 5.5vw;
	margin-top: .5em;

}

/** The Group and Event Button */

 #event-button ion-icon {
  vertical-align: middle;
  	padding-left: 1em;
  	padding-right: 0;
  	color: rgba(0, 100, 0,1); 
	font-size: 3em;
  }

 #group-button ion-icon {
  vertical-align: middle;
  	padding-left: .8em;
  	padding-right: 0;
	color: rgba(0, 100, 0,1); 
	font-size: 3em;
  }





#group-button{
	vertical-align: middle;
	/*Rounded Corners*/

	border-radius: 4em;
	/*border: 0.5px solid rgba(136,136,136,0.50);*/


	width: 40vw;
	margin-left: 3vw;
	margin-right: 3vw;

	padding-bottom: .4em; 
	padding-top: .4em; 
	padding-left: 1em;
	padding-right: 1em;
	height: 5vw;


	box-shadow: .1em .1em .15em .1em rgba(136,136,136,0.75); 
	background-color: white;
	cursor: pointer;
	transition: .2s;
	color:rgba(0,0,0,.6);
	background-repeat: repeat-x repeat-y;
}



#event-button{
	vertical-align: middle;
	/*Rounded Corners*/

	border-radius: 4em;
	/*border: 0.5px solid rgba(136,136,136,0.50);*/
	padding-top: .4em;  
	padding-bottom: .4em; 
	width: 40vw;
	padding-left: 1em;
	padding-right: 1em;
	height: 5vw;

	box-shadow: .1em .1em .15em .1em rgba(136,136,136,0.75); 
	background-color: white;
	cursor: pointer;
	transition: .2s;
	color:rgba(0,0,0,.6);
	background-repeat: repeat-x repeat-y;

}

#event-button:hover, #group-button:hover{
	color:rgba(0,0,0,1);
	text-shadow: .04em .04em rgba(136,136,136,0.75); 

}

.group-event-name{
	width:40%;
	font-size: 2em;
	font-family: Montserrat, sans-serif;
	vertical-align: middle;
	font-weight: "thin";
	font-weight: lighter;
  	padding-left: .75em;
  	padding-right: .75em;
  	letter-spacing: 0.05em;
}

/************** Horizontal alligned button for mail box, contacts, alerts **********/

.horiz-button-body{
	height: 4vw;
	width: 64vw;
	padding-top: 0;
	padding-right: 0em;

	margin-bottom: 0em;
	margin-top:-4.5em;
	margin-left: 11em;

}



.mail{
	width: 25%;
	height: 100%;
	margin-left: 0;

	box-shadow: inset 0em .0 .05em .05em rgba(136,136,136,0.75); 
    border-radius: .8em;
	border: .01em solid rgba(136,136,136,0.75);
	transition: .3s;
	cursor: pointer;
	color:rgba(0,0,0,.6);;

}

.mail:hover, .contacts:hover, .alerrts:hover{
	text-shadow: .03em .03em  rgba(136,136,136,0.75); 
	color:rgba(0,0,0,1);

}

.contacts{
	width: 25%;
	height: 100%;
	margin-left: 9.9%;

    border-radius: .8em;
	box-shadow: inset 0em .0 .05em .05em rgba(136,136,136,0.75); 
	border: .01em solid rgba(136,136,136,0.75);
	transition: .3s;
	cursor: pointer;
	color:rgba(0,0,0,.6);

}

.alerrts{
	width: 25%;
	height: 100%;
	margin-left: 9.9%;

	box-shadow: inset 0em .0 .05em .05em rgba(136,136,136,0.75); 
    border-radius: .8em;
	border: .01em solid rgba(136,136,136,0.75);
	transition: .3s;
	cursor: pointer;
	color:rgba(0,0,0,.6);


}

.horiz-button-icon-body{
    border-radius: .8em 0em 0em .8em;
}


.mail ion-icon{
	color: white;
	font-size: 1.8em;
	margin-top: .16em;


}

.contacts ion-icon{
	color: white;
	font-size: 1.8em;
	margin-top: .16em;

}

.alerrts ion-icon{
	color: white;
	font-size: 1.8em;
	margin-top: .16em;

}

.horiz-button-icon-txt{
	vertical-align: middle;
	font-family: Montserrat, sans-serif;
	font-size: .9em;
	text-align: center;
	padding-bottom:2em;
	padding-top: .8em;

}

.mail .horiz-button-icon-txt{
	padding-left: 1.5em;
	letter-spacing: 0.1em;


}
.alerrts .horiz-button-icon-txt{
	/*padding-left: .7em;*/
	padding-left: 1.2em;
	letter-spacing: 0.1em;

}

.contacts .horiz-button-icon-txt{
	padding-left: .5em;
	letter-spacing: 0.05em;
}

/*THIS IS TO GIVE INDICATION OF UNREAD Mail/Alerts/New Contacts and shit*/
.notification{
	background-color: white;
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	font-size: .8em;
	border-radius: 5em;
	vertical-align: middle;
	color:rgb(112,128,144);
	margin: 0;
	margin-bottom: 1.5em;
	margin-right: .24em;


}



.mail .horiz-button-icon-body{
	height:100%;
	width: 45%;
	background-color:rgba(131,52,113,.95);

	text-align: center;
}
.contacts .horiz-button-icon-body{
	height:100%;
	width: 45%;
	background-color:rgba(0, 100, 0,1);
	text-align: center;
}

.alerrts .horiz-button-icon-body{
	width: 45%;
	height:100%;
	text-align: center;
	background-color:rgba(205,92,92,1);

}


/******************* Edit and Add button for the containers *********/
/*Containter for the add and edit buttons*/
.group-options{
	margin-top: .5vw;
	height: 5vw;
	width: 100%;
}

.group-add{
 float:right;
 margin-top: -5vw;
 cursor:pointer;
	color: rgba(46, 139, 87,.4);
	transition: .5s;

}



.group-edit{
	float:left;
	margin-right: 11.2vw;
	font-family: 'Open Sans', sans-serif;
	color: rgba(46, 139, 87,.4);
	cursor:pointer;
	font-size: 1.2em;
		transition: .5s;

}

.group-edit:hover, .group-add:hover{
	color: rgba(46, 139, 87,.8);
}


.group-event-header-txt{
	padding: 0; 
	margin:0;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.05em;

	margin-bottom: .25em;

}



.group-add ion-icon{
	font-size: 3vw;
}


.group-add-body{
	z-index: 2;
	position: absolute;
	height: 17vw;
	width: 38.5vw;
	margin-top: 38.3vw;
	font-size: 1.8vw;
	font-family: 'Open Sans', sans-serif;
	transition: margin 2s;
	transition: height 0;
}

.group-add-options{
	background: white;
	width: 100%;
	height: 60%;
	border-radius: 1vw;
	border: solid 1px rgba(0,0,0,0.3) ;
	background-image:  url("../images/cream_dust.png");
	background-repeat: repeat-x repeat-y;
	z-index: 3;
	transition: .2s;
	box-shadow: .1em .1em .15em .1em rgba(136,136,136,0.75); 
}




.group-add-cancel{
 margin-top: 1vw;
 border-radius: 1vw;
 width: 100%;
 height: 20%; 
 text-align: center;
background-image:  url("../images/cream_dust.png");
background-repeat: repeat-x repeat-y;
line-height: 3.4vw; /*Very important for getting arond vertical align*/
white-space: nowrap;/*Very important for getting arond vertical align*/
transition: .2s;
box-shadow: .1em .1em .15em .1em rgba(136,136,136,0.75); 
cursor:pointer;
border: solid 1px rgba(0,0,0,0.3) ;
}


.cancel-contain{
	width:100%;
	height: 100%;
	color: rgba(46, 139, 87,1);
}


.group-add-cancel:hover{
	color: rgba(46, 139, 87,.6);
}


.add-subsciption{
	height: 32%;
	width: 100%;
	color: rgba(46, 139, 87,1);	
	cursor:pointer;
}

.add-subsciption ion-icon{
	margin-top: .4vw;
		
	font-size: 2.8vw;
	margin-left: .3vw;
}

.add-subscription-txt{
	border-top:solid 1px rgba(0,0,0,.2);
	border-bottom:solid 1px rgba(0,0,0,.2);;
	height: 100%;
	width: 89.34%;
	margin-left: .8vw;
   line-height: 3.3vw; /*Very important for getting arond vertical align*/
   white-space: nowrap;/*Very important for getting arond vertical align*/
}


.add-favorite{
	height: 30%;
	width: 100%;
	border-radius: 1vw 1vw 0 0vw;
	color: rgba(46, 139, 87,1);
	cursor:pointer;
}

.add-fav-txt{
	margin-left: .3vw;
	height: 100%
	width: 10%;
  	line-height: 3.2vw; /*Very important for getting arond vertical align*/
  	white-space: nowrap;/*Very important for getting arond vertical align*/
}

.add-fav-icon{
	margin-top: .2vw;
	height: 80%;
	width: 9%;
}



.add-multigroup{
	height: 32%;
	width: 100%;
	border-radius: 0 0 1vw 1vw;
	margin-top: 0vw;
	cursor:pointer;
}


.add-multigroup{
	height: 32%;
	width: 100%;	
	color: rgba(46, 139, 87,1);
		border-radius: 0 0 1vw 1vw;

}

.add-multigroup ion-icon{
	
	font-size: 2.8vw;
	margin-right: .9vw;
	margin-left: .3vw;
}

.add-multigroup-txt{
	height: 100%;
	width: 100%;
}

.add-multigroup p{
  line-height: .95vw; /*Very important for getting arond vertical align*/
  white-space: nowrap;/*Very important for getting arond vertical align*/
}

.add-multigroup:hover, .add-favorite:hover, .add-subsciption:hover{
	color: rgba(46, 139, 87,.6);
}

.cancel-contain:hover{
	color: rgba(46, 139, 87,.6);
}



 /***********HEADER FOR THE CARDS***************/
.groups-body{
	/*Rounded Corners*/

	border-radius: .2em;
	border: 0.05em solid rgba(136,136,136,0.50);
	box-shadow: 0em 0em .3em 0em rgba(136,136,136,0.75);

	/*height: 8%;*/
	padding-bottom: 0vw; 
	padding-top: 0; 
	width: 39vw;
	margin-left: 3vw;
	margin-right: 3vw;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-top: 0;
	height:55vw;
	margin-bottom: 0;

	/*Flex container parameters-- so the box grows down w/ children*/
	display: inline-flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255,1);
	flex: 1;

	background-repeat: repeat-x repeat-y;
}


.event-body{
	/*Rounded Corners*/

	border-radius: .2em;
	border: 0.05em solid rgba(136,136,136,0.50);
	box-shadow: 0em 0em .3em 0em rgba(136,136,136,0.75);


	margin-top: 0;
	padding-top: 0; 
	width: 39vw;
	height:55vw;


	/*height: 8%;*/
	display:inline-block;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-left: 0;

	/*Flex container parameters-- so the box grows down w/ children*/
	display: inline-flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255,1);
	overflow: auto;
	flex: 1;
	background-repeat: repeat-x repeat-y;
}




.group-event-header{
	width: 99%;
	display:inline-block;
	vertical-align: middle;
	padding-bottom: 1em;
	margin-bottom: 2em; 
	border-bottom: 0.05em solid rgba(0,0,0,0.4);

}





.group-class-options{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 0; 
	margin-top: 0;
	margin-bottom: 1em;
}

.category{
	margin-right: 1em;
	cursor: pointer;
}

/***************************** Search Bar *******************************/


.group-event-searchbar{
	background-color: rgba(144, 165, 169, .2); 
	width: 60%;
	height: 1.5em;
  	border-radius: .2em;
	border: .04em solid rgba(136,136,136,0.50);
	vertical-align: middle;
	padding-left: 0;
	display:inline-block;
	cursor: pointer;
}
.group-search .group-event-searchbar{
	display: table;
	margin: 0 auto;
}

.group-search{
}


.group-event-searchbar ion-icon{
  	vertical-align: middle;
  	padding: 0;
  	margin:0;
	width: 1em;
	height: 1em;
	/*color: rgba(30,130,76, .75);*/
	color:rgba(136,136,136, 1);
	text-align: left;
	display:inline-block;
  }

.search{
	font-family: 'Montserrat', sans-serif;
	color:rgba(136,136,136, 1);
	vertical-align: middle;
	padding:0;
	margin:0;
	display:inline-block;
}

/******* Event Calender *********/
.event-stripe{
	display:inline-block;
	margin:0px;
	padding:0;

}


.event-calender{
	display:inline-block;
	margin-top: -10em;
	padding:0;
	margin-bottom: -4em;

}
.event-calender ion-icon{
	width: 1em;
	height: 1em;
	vertical-align: middle;
	font-size: 2em;
	cursor: pointer;
	color: rgba(0, 100, 0,1);
  }

.calendar-txt{
	font-family: 'Montserrat', sans-serif;
	font-size: .75em;
	cursor: pointer;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 0;
}

/*
#owner_admin{
	border-bottom: 2px solid; 
	border-bottom-color: rgba(0, 100, 0,1);
}*/
/******** Formatting Owner and Admin Icon and Profile PIc*******/

#favs-icon{
	width: 10%;
	height:90%;
	line-height: 4em;
	margin:0;
	margin-left: 48%;
	padding:0;
	vertical-align: middle;
	cursor: pointer;

}
#favs-icon img{
    height: 100%;
    width: 100%;
}




#owner-icon {
	padding: 0em;
	width: 5em;
	height: 5em;
	line-height: 5em;
}

#owner-icon img{
	display: inline;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#admin-icon {
	padding: 0px;
	width: 5em;
	height: 5em;
	line-height: 5em;
}

#admin-icon img{
	display: inline;
    margin: 0 auto;

    height: 100%;
    width: 100%;
    border-radius: 50%;
 }


.priviledge-lvl{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: .60em; 
	text-align: center; 
	//width: 4em;
	height: 60%;
	color: rgba(0,0,0,0.60);
	letter-spacing: 0.04em;
	vertical-align: middle;
	float: right;
	margin:0;
	//border: solid;
	margin-top: 1em;
	//margin-right: 1.5em;
	padding:0;

}


.group-footer{
	//padding-top: .4em;
	width: 100%; 
	font-family: 'Open Sans', sans-serif;
	color: rgba(0,0,0,.2);
	//padding-bottom: .0;
	height: 2.5em;
	border-top: .05em solid rgba(0,0,0,0.2);
	//border: solid;
	//margin-bottom: .4em;
	padding:0;
	margin:0;
}
/************* Delete Card format**************/

.close-circle ion-icon{
	color: rgba(255, 0, 0,1);
	font-size: 6vw;
	padding: 0;
	margin:0;
	border: 0;
}

.close-circle{


}


.unsubscribe{
	margin-top: -2.4em;
	font-family: 'Open Sans', sans-serif;
	width: 14vw;
	height: 4vw;
	 line-height: 3.5vw; /*Very important for getting arond vertical align*/
  	white-space: nowrap;/*Very important for getting arond vertical align*/
  	margin-right: 0vw;
  	margin-top: -2.6em;
  	background-color: rgba(255, 0, 0,1);
  	overflow: auto;
	box-shadow: .1em .1em .15em .1em rgba(136,136,136,0.75); 
	border-radius: .4em 0 0 .4em;

}

.unsubscribe b{
	
	color: white;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	margin-left: .9em;
}
/*********** The individual group cards********************/

/*
	.group-card
		.group-header
			.profile-pic-small
			.group-txt-info
				.group-handle
				.group-txt-footer
					.group-desc
					.group-loc					
			.priviledge-lvl
				#owner-icon
		.group-footer


*/

/* Display this when there are no cards*/
.no-cards{
	height: 100%;
	width: 100%;
	padding-top: 14vw;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color:rgba(47,79,79,0.50);
}

/*Settings for scrolling box*/
.content {
  display: inline-flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

} 

.block{
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;

}

.content::-webkit-scrollbar {
    width: 1px;  /* Remove scrollbar space */
    //background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.content::-webkit-scrollbar-thumb {
    background: transparent;  /* Optional: just make scrollbar invisible */
    width: 0px;  /* Remove scrollbar space */
    display: none;
    color: rgba(136,136,136,0.50);
}


.group-card-holder{
	/*display: inline-flex;*/
	height:35vw;
	flex-direction: column;
    display: flex;
	border: .05em solid rgba(136,136,136,0.50);
	width: 36vw;

	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1em;
	padding-bottom:  1em;

	margin-left:.3vw;
	position: relative;
	z-index: 0; /*Z-index for overlapp*/
}

.group-card{
	width: 99%;
	border: .05em solid rgba(136,136,136,0.50);
	border-radius: .5em;
	margin-bottom: 1em;
	background-color:white;
	background-image:  url("../images/redox_01.png");
	background-repeat: repeat-x repeat-y;

	box-shadow: 0 .1em .1em 0 rgba(0,0,0,0.2);
	transition: 2s;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.group-card:hover {
	box-shadow: .1em .3em .5em .1em rgba(0,0,0,0.2);
}

.group-card:focus {
	box-shadow: .1em .3em .5em .1em rgba(0,0,0,0.2);
}


.group-header{
	padding-top: 0.1em;
	float: center; 
	width: 95%;
	height:4.45em;
	margin:0;
	margin-left: .6em;
	overflow: hidden;
	transition: 2s;

}

.profile-pic-small{
	padding:0;
	padding-right: .4em;
	width: 15%;
	height: 90%;
	margin:0;
	display:inline-block;
	vertical-align: middle;
}

.profile-pic-small img{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: .05em solid rgba(136,136,136,0.50);
}

.group-txt-info{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	line-height: .75em; 
	font-weight: 'semi-bold';
	margin:0;
	padding:0;
	padding-top: .2em;
	vertical-align: middle;
}

.group-handle{
	font-weight: bold;
	margin-bottom: .4em;
}
.group-txt-footer{
	font-size: .60em; 
	letter-spacing: 0.04em;
	color: rgba(0,0,0,0.80);

}

.delimiter-group-txt{
	font-size: 1em; 
}



/**********Events **************/
#event-header-title{
	margin-left: -19vw;
}

.event-card {
	border: .05em solid rgba(136,136,136,0.50);
	border-radius: .5em;

	box-shadow: 0 .1em .1em 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	height: 30vw;
	width:30vw;
	margin:0;
	padding: 0;
	margin-bottom: 1.2em;
	margin-left: 2.8vw;
	transition: .3s; /* Safari */
}	

.event-card:hover {
	box-shadow: .3em .3em .3em .1em rgba(0,0,0,0.2);
}

.event-card:focus {
	box-shadow: .1em .3em .5em .1em rgba(0,0,0,0.2);
}


.event-card-holder {
	/*display: inline-flex;*/
	height:35vw;
	flex-direction: column;
    display: flex;
	border: .05em solid rgba(136,136,136,0.50);
	width: 36vw;

	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1em;
	margin-left:.3vw;

}
.event-loc{
	margin:0;
	padding:0;
	padding-top: .5vw;
	font-size: 1.1em;
}

/*Tshis is the footer of the event card*/
.event-details{
	height: 40%;
	width:100%;
	padding: 0;
	margin:0;
	background-image:  url("../images/redox_01.png");
	background-repeat: repeat-x repeat-y;
	border-radius:0 0 .5em .5em;
	border-top: solid .1vw rgba(0,0,0,.1);
}


/* This contains the left part of the footer*/
.event-txt-details{
	width:65%;
	height: 60%;
	font-family: Montserrat;
	padding: 0;
	margin:0;
	float:left;
	margin-left: .5vw;
	//border:solid 1px; /*FixMe: */
}

.event-card-buttons{
	width:65%;
	height: 28%;
	float:left;
	padding: 0;
	margin:0;
	margin-left: .5vw;
	margin-top:.5vw;
	border-top: solid .08em rgba(47,79,79,0.50);
}


.share-event{
	width:38%;
	height: 80%;
	padding-right: .7vw;
	border-radius: 1vw;
	margin-top:.6vw;
	margin-right: 2.4vw;
	margin-left: 0vw;
	box-shadow: inset 0em .0 .05em .05em rgba(136,136,136,0.75); 
	cursor: pointer;
	background-color: white;
	transition: .4s;
	color: rgba(0,0,0,.6);
}

.share-event:hover{
	text-shadow: .04em .03em  rgba(136,136,136,0.75); 
	color: rgba(0,0,0,1);


}

/*When we want to blank out a button*/
.share-event-blank{
	width:38%;
	height: 80%;
	padding-right: .7vw;
	border-radius: 1vw;
	margin-top:.6vw;
	margin-right: 2.4vw;
	margin-left: 0vw;
}

.share-event-blank .share-icon ion-icon{
	color:rgba(255,255,255,0);
}

.share-event-blank .share-txt{
	color:rgba(255,255,255,0);
}


.share-icon{
	margin-top: .1vw;
}




.share-icon ion-icon{
	color: rgba(0, 100, 0,1); 
	font-size: 1.5em;
	padding: 0;
	margin:0;
	margin-left: .4vw;
}

.share-txt{
	font-family: Montserrat, sans-serif;
	margin-top: -1.8vw;
	margin-left:2.8vw;
	font-size: .7em;
}


.manage-event{
	width:40%;
	height: 100%;
	border: solid .08vw rgba(47,79,79,0.50);
	border-radius: 1vw;
	margin-left: 3vw;
}

.vertical-line{
	height: 94%; 
	width:.09em;
	background-color:rgba(47,79,79,0.50);
	float:left;
	margin-top: .5vw;
	margin-top:-6.8vw;
}




/* This contains the right part of the footer*/
.event-host{
	height: 100%;
	width:32%;
	margin:0;
	padding:0;
	float: right;
	margin-top:-7.2vw;
	//border:solid 1px; /*FixMe: */

}


.vertical-seperator{
	margin-top: .5vw;
	color: rgba(0,0,0,0.90);
	text-align: center;
	margin-left: 0vw;
}

.vertical-seperator span{
	font-family: Montserrat, sans-serif;;
	font-size: .7em;
	color:rgba(47,79,79,0.70);
	
}

.eventhost-info{
	
	width:100%;
	height: 20%;
	line-height: 1em;
	margin-top: 7vw;
}

.space{
	width:100%;
	height: 0;
	margin-left: 5vw;
	display: inline-block;
}

.eventhost-handle{
	font-family: Montserrat;
	font-size: .5em;
	text-align: center;
	display: inline-block;
}

.eventhost-name{
	font-size: .65em;
	text-align: center;
	display: inline-block;
	margin-right: 5em;
}



.profile-pic-event{
	padding:0;
	margin:0;
	width: 6vw;
	height:6vw;
	margin-left: 1em;
	margin-bottom: .15em;
	margin-top: -9vw;
	cursor: pointer;
}

.profile-pic-event img{
    margin: 0 ;
    padding:0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: .06em solid rgba(136,136,136,0.50);

    transition: .4s;
  }

.profile-pic-event img:hover{
	opacity: .95;
	box-shadow: .05em .05em .05em .05em rgba(0,0,0,0.2);
}


.event-rsvps{
	color:rgba(47,79,79,0.50);
	font-style: italic;
	margin-top:.3vw;
	font-size:.9vw;
}

.event-loc-title, .event-loc-addr{
	color:rgba(0,0,0,0.80);

}

.event-loc-title{
	font-size:1vw;
}


.event-info, h5{
	font-family: Montserrat, sans-serif;
	margin:0;
	padding:0;
	font-size:  .7em;

}

.event-info, p{
	font-family: Montserrat, sans-serif;
	margin:0;
	padding:0;
	font-size:  .5em;
	font-weight: "light";
	background:solid .1em;
}



.vl{
	border-right:solid .2vw;

}



/* Formats the header of the event card*/

.img-container {

}

.event-image img{
	border-radius: .5em .5em 0 0;
	z-index: 2;
}
.event-image {
	/*width: 40%;*/
	width:100%;
	float:left;
	height:60%;
	margin-top:auto;
	margin-bottom: auto;
	vertical-align: middle;
	border-radius: .5em .5em 0 0;
}

.event-title {
	display: block;
	float: left;
	width:90%;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1vw;
	/*text-align: center;*/
	margin-top:.3vw;
	margin-bottom:0;
	padding:0;
}



.event-date{
	font-size: .97vw;
	color:#990000;

}
.event-location {
	display: block;
	float: left;
	color:black;
	width:90%;
	font-size: 1.1vw;
	color:rgba(47,79,79,0.50);

	/*text-align: center;*/
}




/***********************/




.chat{
	vertical-align: middle;
	margin-right:0;
	margin-left: 3%;
	margin-top: .5%;
	letter-spacing: 0.07em;
	height: 60%;
	width: 30%;
	text-align: left;
	padding-left: 1em;
	border: 1px solid rgba(136,136,136,0.50); 
	color:rgba(0,0,0,.6);

	border-radius: 4em 4em 4em 4em;
	box-shadow: 0px .1em 0px 0px rgba(220,220,220,.5);
	cursor: pointer; 
	padding-bottom: .2em;
	padding-top: .2em;
	background-color: rgba(255, 252, 252,1);
	transition: .4s;
}

.chat:hover{
	color:rgba(0,0,0,1);
	text-shadow: .03em .03em rgba(136,136,136,0.75);

}
.blank-chat{
	vertical-align: middle;
	margin-right:0;
	margin-left: 3%;
	margin-top: .5%;
	height: 60%;
	width: 30%;
	padding-left: 1em;
	cursor: default; 
	padding-bottom: .2em;
	padding-top: .2em
	background-repeat: repeat-x repeat-y;
}


.alerts{
	width:2em;
	height:1.8em;
	font-size: .8em;
	vertical-align: middle;
	border-radius: 50%;
	text-align: center;
	margin-right: 0;
	text-shadow: .03em .03em rgba(136,136,136,0.75);

	background-color: rgba(49, 139, 89,.8);
	color:rgba(255,255,255, .8);
	text-shadow: .04em .04em rgba(255,255,255, .8);
	box-shadow: 0px .05em 0px 0px rgba(136,136,136,0.75);
	margin-bottom: .1em;
}

.manager .alerts{
	margin-left:22%;
}

.chat .alerts{
	margin-left:37.5%;
}
/************************************************************/







