body {
	/*background-image: url("images/iphoneOL.jpg");*/
	background-repeat: no-repeat;
	font-family: Palatino, sans-serif;
}

#screen {
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #0B610B;
	height: 100%;
	width: 100%;
}

#smaller-screen {
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	width: 97%;
	height: 90%;
}

.head-bar {
	display: block;
	color: white;
	background-color: #0B610B;
	height: 15%;
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}

/*.head-bar-decor {
	display: block;
	height: 12px;
	width: 33%;
	background-color: #0B610B;
}*/

.avatar {
	display: inline-block;
	background-color: #CEF6D8;
	float: left;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	margin-left: 50px;
	margin-top: 50px;
	border: 1px solid #0B610B;
}

.avatar-name {
	display: block;
	clear: both;
	float: left;
	font-size: 20px;
	margin-left: 98px;
	margin-top: -30px;
}

.text-box {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin: 50px;
	width: 70%;
}

.org-button {
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #0B610B;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.events {
	margin-left: 50px;
	font-size: 20px;

}

.events-list {
	margin-left: 50px;
	height: 200px;
	width: 50%;
	-webkit-column-count: 2;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;
}

.add-button {
	background-color: white;
	text-shadow: none;
}

#create-button {
	display: block;
	height: 50px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #0B610B;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
